*{
    padding: 0;
    margin: 0;
}
#head{ 
   
    margin: auto;
    margin-top: 10px;
    background-color: rgb(6, 7, 7);
    color: rgb(255, 255, 255);
    font-size: 60px;
    /* width:500px; */
      text-align: center;     padding: 12px;
      border: 1px solid black;
      border-radius: 50px; 
      text-shadow: 2px 2px 3px rgb(227, 126, 247);
     box-shadow: 0px 10px 10px rgb(213, 160, 182);
     animation: anim1 .5s ease-in .2s 1 forwards;
}
@keyframes anim1{
from{width: 250px;}
to{width: 500px;}
}
body{
    background-color: cyan;
    height: 98vh;
}

.container{
    height: fit-content;
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}
#box1{
    display: flex;
    flex-flow: row wrap;
    margin-top: 10px;
    width: 800px;  padding: 10px;
    border: 10px solid rgb(92, 84, 84);
    border-radius: 500px;
    border-style: inset;
    justify-content: center;
    background-color:rgb(252, 121, 106);
}
.time{
    margin: 10px;padding: 10px;
    margin-top: 3px;
     box-sizing: content-box;
    font-size: 110px;
    border-radius: 50px;
    display: inline-block;
    text-shadow: 3px 3px #c0f4f6;
    text-align: center;
    box-shadow: 3px 3px 2px rgb(70, 77, 77);
    background-color: rgb(148, 167, 167);;
    transition: all .3s ease-in-out 0s;
}
.inner{
    display: flex;
    /* border: solid rgb(40, 206, 178); */
    margin-top: 10px;
    margin-bottom: 10px;   
}
.inbox{
    font-size: 82px;
    margin: 1px;
    width: 400px;   
    border: 7px  rgb(92, 84, 84);
    border-radius: 40px; 
    text-shadow: 2px 2px #c0f4f6;
     border-style: inset;
     padding: 10px;
     text-align: center;
     background-color:rgb(252, 121, 106);;
}
#colon1{
    animation: animcolon 1s ease-in 0s infinite forwards ;text-shadow: none;
}   
#colon2{
    animation: animcolon 1s ease-in 0s infinite forwards ;text-shadow: none;
}   
@keyframes animcolon {
    from{color: rgb(22, 20, 22);}
    to{color:rgb(221, 109, 118);}
}
#picbox{
margin-top: 40px;
    display: flex;
    justify-content: center;
    position: relative;
    margin-left: 660px;
    height: 220px;
    width: 220px;
    border-radius: 20px;
    box-shadow: 10px 10px 10px rgb(70, 77, 77);
    transition: all .6s ease-in-out 0s;
}
#pic{
      transition: all .6s ease-in-out 0s;
      width: 220px;height: 220px;
      z-index: 2;border-radius: 20px;  
    }
#pic:hover{width: 175px;height: 175px;margin-bottom: 0px;transform: rotate(360deg);}
#picbox:hover{transform: scale(1.2,1.2);margin-top: 11px;}
#picbox::before{
     content: 'By : Jayant Verma';
     padding: 5px;
     color: saddlebrown;
     bottom: 5px;
     border-radius: 20px;
     font-size: 18px;
     position: absolute;
     background-color: rgb(194, 189, 226);
 }
 
 .time:hover{
     background-color: rgb(140, 151, 151);transform: rotate(360deg) scale(1.2) ;
 }
 #head:hover{color: rgb(197, 190, 190);}

 .inbox:hover{ transform:scale(1.1) ;background-color: rgb(252, 121, 106);}
